body {
  color: silver;
  background-color: royalblue;
  margin: 0px;
  padding-top: 1%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  padding-bottom: 1%;
}

div {
  border-style: solid;
  padding: 0.5%;
}

@media (min-width: 481px) {
  #leftColumn {
    width: 60%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
  }
}

@media (min-width: 481px) {
  #rightColumn {
  width: 30%;
  margin-right: 1%;
  float: left;
}}

@media (max-width: 480px) {
  #leftColumn {
    width: 96%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    float: left;
  }
}


@media (max-width: 480px) {
  #rightColumn {
    width: 96%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    float: left;
  }
}

img {
  max-width: 100%;
}

p {
  font-size: large;
}
